<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PropertyCross Backbone.js</title>
  <link rel="stylesheet" type="text/css" href="js/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body class="greeny-theme">
  <div id="preloader" class="spinner-wrap">
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>  
  </div>
  
  <div id="search-form-container" class="container-fluid"></div>
  <div id="search-result-container" style="display: none;" class="container-fluid"></div>
  
  <script type="text/template" id="some-app-search-view">
    <header class="row">
      <div class="col-xs-8">
       <h1><%= title %></h1>
      </div>
      <div class="col-xs-4">
        <button type="button" class="show-faves btn btn-default pull-right">Faves</button>
      </div>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <p class="info-text">
          <%= infoText %>
        </p>
      </div>
    </div>
    <form id="some-app-search-form" class="form-inline">
      <div class="form-group">
        <input type="text" value="<%= lastSearchQuery %>" class="searchQuery
        form-control" name="text" placeholder="place-name or postcode">
        <button type="button" class="some-app-do-search btn btn-default">Go</button>
        <button type="button" class="get-my-location btn btn-default">My location</button>
      </div>
    </form>
    <div id="some-app-search-result" class="row">
    </div>
  </script>
  <script type="text/template" id="some-app-search-result-list">
    <div class="col-xs-12">
      <h2><%= listТitle %></h2>
      <ul class="list-unstyled"></ul>
    </div>
  </script>
  
  <script type="text/template" id="search-result-list">
    <header class="row">
      <div class="col-xs-12 text-center">
        <%= numOnPage %> of <%= matches %> matches
      </div>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled">
        <% _.each(items, function(item) { %> 
          <li>
            <img src="<%= item.thumb_url %>" width="<%= item.thumb_width %>" height="<%= item.thumb_height %>">
            <p class="price">
              <%= item.price_formatted  %>
            </p>
            <p class="info">
              <%= item.title %>
            </p>
          </li>
        <% });%>
      </ul>
      </div>
    </div>
    
  </script>

  <script type="text/javascript" src="js/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="js/libs/backbone/backbone.js"></script>
  <script type="text/javascript" src="js/libs/backbone.localStorage/backbone.localStorage.js"></script>

  <script type="text/javascript" src="js/app.js"></script>

  <!-- Models -->
  <script type="text/javascript" src="js/models/default.js"></script>
  <script type="text/javascript" src="js/models/searchForm.js"></script>
  <script type="text/javascript" src="js/models/recentSearch.js"></script>
  <script type="text/javascript" src="js/models/recentSearches.js"></script>
  <script type="text/javascript" src="js/models/itemLocation.js"></script>
  <script type="text/javascript" src="js/models/listLocations.js"></script>
  <script type="text/javascript" src="js/models/itemResult.js"></script>
  <script type="text/javascript" src="js/models/listResults.js"></script>
  <!-- View -->
  <script type="text/javascript" src="js/views/default.js"></script>
  <script type="text/javascript" src="js/views/searchForm.js"></script>
  <script type="text/javascript" src="js/views/recentSearch.js"></script>
  <script type="text/javascript" src="js/views/recentSearches.js"></script>
  <script type="text/javascript" src="js/views/itemLocation.js"></script>
  <script type="text/javascript" src="js/views/listLocations.js"></script>
  <script type="text/javascript" src="js/views/listResults.js"></script>
  

  <script type="text/javascript" src="js/router.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  
</body>
</html>